.backstage {
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 172px;
}

.backstage::after {
    content: "";
    position: absolute;
    top: -128px;
    right: 0px;
    width: 204px;
    height: 613px;
    background-image: url(../assets/images/backstage-flower.png);
    background-repeat: no-repeat;
    opacity: 1;
    transition: 0.5s;
}

.backstage__container {
    display: flex;
    gap: 86px;
}

.left-column {
    display: block;
}

.backstage__img {
    width: 100%;
    transition: 1s;
    object-fit: cover;
}

.right-column {
    width: 465px;
}

.backstage__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px
}

.backstage__text {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
}

.backstage__text--first {
    margin-bottom: 55px;
}

.backstage__text--second {
    line-height: 22px;
}

.backstage__subtitle {
    margin: 0;
    margin-bottom: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}

@media screen and (max-width: 1540px) {
    .backstage::after {
        opacity: 0;
        transition: 0.5s;
    }
}

@media screen and (max-width:1000px) {
    .backstage {
        margin-bottom: 143px;
    }

    .right-column {
        width: 611px;
    }

    .left-column {
        padding-top: 9px
    }

    .backstage__container {
        gap: 28px
    }
}

@media screen and (max-width:700px) {
    .left-column {
        display: none;
        transition: 1s;
    }

    .right-column {
        width: 495px;
    }

    .backstage::after {
        width: 131px;
        height: 476px;
        top: -66px;
        opacity: 1;
        background-image: url(../assets/images/backstage-flower-640.png);
    }
}

@media screen and (max-width:640px) {
    .backstage {
        margin-bottom: 80px;
    }

    .backstage__title {
        padding-left: 3px;
    }

    .backstage__text--first {
        margin-bottom: 31px;
    }

    .backstage__subtitle {
        margin-bottom: 19px;
        padding-left: 3px;
    }
}

@media screen and (max-width:611px) {
    .backstage::after {
        width: 35px;
        height: 215px;
        top: 0px;
        opacity: 1;
        background-image: url(../assets/images/backstage-flower-320.png);
    }
}

@media screen and (max-width:320px) {
    .backstage {
        margin-bottom: 41px;
    }

    .backstage__title {
        padding-left: 0;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 29px;
    }

    .backstage__text--first {
        padding-left: 2px;
        margin-bottom: 21px;
    }

    .backstage__subtitle {
        margin-bottom: 9px;
    }

    .backstage::after {
        top: -66px;
    }
}