.backstage {
    padding-top: 142px;
    background-color: #E5E5E5;
}

.backstage__container {
    display: flex;
    gap: 87px;
    //flex-wrap: wrap;
}

.backstage__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px
}

.backstage__img {}

.backstage__text {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
}

.backstage__text--first {
    margin-bottom: 54px;
}

.backstage__text--second {
    line-height: 22px;
}

.backstage__subtitle {
    margin: 0;
    margin-bottom: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}