.donate2 {
    padding-top: 40px;
    padding-bottom: 181px;
    margin-bottom: 0;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.donate__container2 {
    padding-bottom: 60px;
    padding-top: 41px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.donate__title2 {
    margin: 0;
    margin-right: 11px;
    margin-bottom: 22px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

.donate__text--first2 {
    margin-bottom: 61px;
    padding-left: 93px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}

.donation__title-help {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.donation__title-help-text {
    margin: 0;
    margin-bottom: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.donation__title-info {
    margin: 0;
    margin-bottom: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FE9013;
}

.donate__diet-number {
    margin: 0;
    margin-bottom: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.donate__diet-text {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333B41;
}

.donation__title {
    margin-bottom: 20px
}

.donate__panda {
    margin-right: 6px;
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 89px;
}

.donate__share-text {
    margin: 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}

.donate__amount {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 21px;
}

.donate__amount-text {
    margin: 0;
    margin-bottom: 22px;
    text-align: left;
    padding-left: 95px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.donate__amount::before {
    position: absolute;
    content: "";
    left: 92px;
    top: 40px;
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    z-index: -1;
}

.donate__amount::after {
    position: absolute;
    content: "";
    left: 122px;
    top: 51px;
    width: 915px;
    height: 2px;
    background: #72828e;
    z-index: -1;
}

.donate__diet {
    position: relative;
    padding-top: 52px;
}

.donate__diet::after {
    position: absolute;
    content: "";
    left: 167px;
    top: 76px;
    width: 14px;
    height: 14px;
    background-image: url(../assets/images/icon-x.svg);
}

.donate__amount-input {
    padding-left: 10px;
    margin-bottom: 22px;
    width: 268px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid #929699;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #929699;
    background-color: transparent;
    outline: none;
}

.donate__amount-input-wrapper {
    text-align: center;
}

.donate__amount-input-container {
    position: relative;
    display: inline-block;
}

.donate__amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate__amount-input-container::after {
    position: absolute;
    content: "$";
    right: 10px;
    top: 13px;
    font-size: 20px;
    color: #929699;
}

.donate__amount-input:invalid:not(:focus):not(:placeholder-shown) {
    color: #D31414;
    border-color: #D31414;
}

.donate__amount-input:invalid:not(:placeholder-shown) {
    color: #D31414;
    border-color: #D31414;
}

.donate__amount-input:valid:not(:focus):not(:placeholder-shown) {
    color: #4B9200;
    border-color: #4B9200;
}

.donate__amount-input:valid:not(:placeholder-shown) {
    color: #4B9200;
    border-color: #4B9200;
}

.donate__radiobuttons-label {
    position: relative;
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}


.donate__radiobuttons-input {
    display: none;
}

.donate__radiobuttons-input:checked+.donate__radiobuttons-label::after {
    opacity: 1;
}

.donate__radiobuttons-label::before {
    position: absolute;
    display: block;
    content: "";
    left: -21px;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    box-sizing: border-box;
}

.donate__radiobuttons-label::after {
    position: absolute;
    display: block;
    content: "";
    left: -21px;
    top: 2px;
    width: 16px;
    height: 16px;
    opacity: 0;
    border-radius: 50%;
    background: #4B9200;
    border: 1px solid #4B9200;
    box-sizing: border-box;
}

.donate__radiobuttons {
    width: 189px;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 31px;
    display: flex;
}

.donate__radiobuttons--first {
    padding-left: 9px;
}

.donate__amount-range {
    display: flex;
    justify-content: space-between;
    width: 930px;
    padding-left: 112px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333B41;
}

.donate__amount-range-container {
    display: flex;
    flex-direction: column;
}

.donate__amount-datalist-option {
    position: relative;
    margin-bottom: 47px;
}

.donate__amount-datalist-option:after {
    position: absolute;
    content: "";
    left: 65px;
    top: -34px;
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
}

.donate__button2 {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: 31px;
    border-radius: 25px;
}

.donate__amount-range-label {
    position: absolute;
    top: 4px;
    margin-left: 6px;
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
}

.donate__amount-range-container {
    position: relative;
}
.donate__amount-range-label:before {
    content: "";
    position: absolute;
    left: -14px;
    top: -15px;
    width: 40px;
    height: 40px;
    border: 2px solid #FE9013;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0;
}
.donate__amount-range-label:after {
    display: block;
    content: "";
    position: absolute;
    left: -5px;
    top: -6px;
    width: 22.95px;
    height: 22.95px;
    border: 2px solid #FE9013;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0;
}

.donate__amount-range-label--active:before {
    content: "";
    position: absolute;
    left: -14px;
    top: -15px;
    width: 40px;
    height: 40px;
    border: 2px solid #FE9013;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 1;
}

.donate__amount-range-label--active:after {
    display: block;
    content: "";
    position: absolute;
    left: -5px;
    top: -6px;
    width: 22.95px;
    height: 22.95px;
    border: 2px solid #FE9013;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 1;
}

.donate__amount-range-input:hover+.donate__amount-range-label:after {
    opacity: 1;
    cursor: pointer;
}

.donate__amount-range-input:hover+.donate__amount-range-label:before {
    opacity: 1;
    cursor: pointer;
}

.donate__price-container {
    margin-bottom: 50px;
    padding-left: 90px;
    display: flex;
    justify-content: space-between;
    width: 953px;
}

.donate__price--2000 {
    transform: translateX(-10px);
}

.donate__price--1000 {
    transform: translateX(-22px)
}

.donate__price--500 {
    transform: translateX(-31px)
}

.donate__price--250 {
    transform: translateX(-27px)
}

.donate__price--100 {
    transform: translateX(-23px)
}

.donate__price--50 {
    transform: translateX(-19px);
}

.donate__price--25 {}

.donate__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333B41;
}

.donate__price-dollar {}


.donate__price--active {
    color: #FE9013
}

.donate__amount-range-input {
    opacity: 0
}

@media screen and (max-width:1100px) {
    .donate__amount-range {
        padding-left: 70px;
    }

    .donate__amount::before {
        left: 65px;
    }

    .donate__amount::after {
        width: 780px;
        left: 83px;
        top: 53px;
    }

    .donate__amount-range-container:nth-child(1) {
        display: none
    }

    .donate__price:nth-child(1) {
        display: none;
    }

    .donate__amount-range {
        width: 800px;
    }

    .donate__amount::before {
        width: 810px;
    }

    .donate__price-container {
        padding-left: 74px;
        width: 812px;
    }
}

@media screen and (max-width:1000px) {
    .donate2 .donate__container2 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .donation__title-help {
        max-width: 778px;
        margin-bottom: 32px;
    }

    .donation__title-info {
        margin-bottom: 39px;
    }

    .donation__title-help-text {
        font-size: 16px;
    }

    .donate__container2 {
        padding-top: 19px;
        padding-bottom: 46px;
    }

    .donate__text--first2 {
        padding-left: 48px;
    }

    .donate__title2 {
        margin-bottom: 12px;
    }

    .donate2 {
        padding-bottom: 30px;
    }

    .donate__amount-text {
        padding-left: 65px;
    }
}

@media screen and (max-width:960px) {
    .donate__panda {
        margin-bottom: 19px;
    }

    .donate__diet {
        padding-top: 32px;
    }

    .donate__diet::after {
        top: 57px;
    }

    .donate__amount-text {
        padding-left: 10px;
        margin-bottom: 12px;
    }

    .donate__amount-range {
        width: 541px;
        padding-left: 29px;
    }

    .donate__amount::before {
        width: 600px;
        top: 30px;
        left: 0;
    }

    .donate__amount::after {
        width: 520px;
        top: 42px;
        left: 42px;
    }

    .donate__price-container {
        width: 534px;
        padding-left: 45px;
        margin-bottom: 48px;
    }

    .donate__amount-range-container:nth-child(2) {
        display: none;
    }

    .donate__amount-range-container:nth-child(3) {
        display: none;
    }

    .donate__price:nth-child(2) {
        display: none;
    }

    .donate__price:nth-child(3) {
        display: none;
    }

    .donate__amount-input {
        width: 180px;
        height: 42px;
    }

    .donate__amount-input {
        margin-bottom: 30px;
    }

    .donate__button2 {
        margin-bottom: 29px;
    }
}

@media screen and (max-width:670px) {
    .donate2 {
        padding-top: 30px;
        padding-bottom: 47px;
    }

    .donation__title-help {
        font-size: 24px;
        line-height: 29px;
    }

    .donation__title-help {
        margin-bottom: 19px;
    }

    .donation__title-help-text {
        margin-bottom: 32px;
    }

    .donate2 .donate__container2 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .donation__title-info {
        margin-bottom: 29px;
    }

    .donate__container2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .donate__title2 {
        margin-right: 0;
        margin-bottom: 21px;
    }

    .donate__text--first2 {
        padding-left: 0;
        text-align: center;
        margin-bottom: 51px;
    }

    .donate__diet {
        padding-top: 50px;
    }

    .donate__panda {
        margin-bottom: 36px;
    }

    .donate__diet::after {
        top: 75px;
        left: 166px;
    }
}

@media screen and (max-width: 639px) {
    .donate__diet-number {
        font-size: 40.6015px;
        line-height: 32px;
    }

    .donate__diet-text {
        font-size: 9.02255px;
        line-height: 13px;
    }

    .donate__panda {
        margin-bottom: 2px;
        justify-content: stretch;
        align-items: stretch;
        margin-right: 0;
        gap: 50px;
    }

    .donate__panda-img {
        width: 160.4px;
        height: 136.92px;
    }

    .donate__text--first2 {
        margin-bottom: 13px;
    }

    .donate__diet {
        padding-top: 58px;
    }

    .donate__diet-number {
        margin-bottom: 7px;
    }

    .donate__amount-text {
        padding-left: 0;
    }

    .donate__diet::after {
        width: 9px;
        height: 9px;
        top: 70px;
        left: 95px;
        background-image: url(../assets/images/icon-x-320.svg);
    }

    .donate__amount {
        margin: 0;
    }

    .donate__amount::before {
        width: 300px;
        height: 14px;
    }

    .donate__amount::after {
        width: 260px;
        top: 36px;
        left: 20px;
    }

    .donate__amount-range {
        width: 281px;
        padding-left: 11px;
    }

    .donate__amount-range-label {
        top: 0;
        width: 5px;
        height: 5px;
    }

    .donate__price {
        font-size: 13px;
        line-height: 18px;
    }

    .donate__price-container {
        width: 259px;
        padding-left: 39px;
    }

    .donate__amount-range-label:before {
        top: -7px;
        left: -7px;
        width: 20px;
        height: 20px;
        border: 1px solid #fe9013;
    }

    .donate__amount-range-label:after {
        top: -3px;
        left: -3px;
        width: 11.48px;
        height: 11.48px;
        border: 1px solid #fe9013;
    }

    .donate__price-container {
        margin-bottom: 25px;
    }

    .donate__amount-input {
        margin-bottom: 25px;
    }

    .donate__radiobuttons {
        margin-bottom: 27px;
    }

    .donate__share-text {
        font-size: 15.98px;
    }

    .donate__price--25 {
        transform: translateX(-9px)
    }
}

@media screen and (max-width:351px) {
    .donate2 {
        padding-bottom: 21px;
    }

    .donation__title-info {
        font-size: 24px;
        line-height: 29px
    }

    .donate__title2 {
        font-size: 24px;
        line-height: 29px;
    }

    .donate__text--first2 {
        font-size: 16px;
        line-height: 22px;
    }

    .donate__container2 {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .donate__title2 {
        margin-bottom: 9px;
    }

    .donate2 .donate__container2 {
        margin-left: 10px;
        margin-right: 10px;
    }
}