@media screen and (max-width:1000px) {
    .footer__nav2 {
        padding-left: 159px;
    }
}

@media screen and (max-width:943px) {
    .footer__nav2 {
        padding-left: 40px;
    }
}


@media screen and (max-width:762px) {
    .footer__nav2 {
        padding-left: 0;
    }
}