.header {
    background-color: black;
    z-index: 2;
}

.header-container {
    display: flex;
    min-height: 80px;
    align-items: center;
}

.header__title {
    margin: 0;
}

.logo__link {
    margin-right: 63px;
    text-decoration: none;
}

.logo {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 3px;
    width: 82px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
}

.logo:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__title::before {
    content: "";
    width: 12.03px;
    height: 20.98px;
    position: absolute;
    left: 9.13px;
    bottom: 6.79px;
    background-image: url(../assets/images/bamboo.svg);
}

.nav {
    margin-right: auto;
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    min-height: 80px;
    align-items: center;
}

.nav__item:last-child {
    margin: 0px;
}

.nav__item {
    margin-right: 58px;
}

.nav__link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.nav__link--about {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav__link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav__link:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-copyright {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-copyright:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.burger {
    display: none;
    position: fixed;
    right: 20px;
    top: 11px;
    gap: 2px;
    flex-direction: column;
    cursor: pointer;
}

.burger__line {
    width: 18px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 2px;
}

.x-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    transition: 1s;
    transform: translateX(250%);
    cursor: pointer;
}

.x-icon__line {
    width: 14px;
    height: 2px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.x-icon__line--first {
    transform: rotate(-45deg);
}

.x-icon__line--second {
    position: absolute;
    top: 0px;
    transform: rotate(45deg);
}

@media screen and (max-width:1000px) {
    .nav__item {
        margin-right: 48px;
    }
}

@media screen and (max-width:640px) {
    .header-container {
        min-height: 34px
    }

    .header {
        width: 100%;
        position: fixed;
    }

    .header__title {
        padding-top: 0;
        width: 46.86px;
        height: 29.03px;
        font-size: 12.2899px;
        line-height: 15px;
        border: none;
        transition: 1s;
    }

    .burger {
        display: flex;
    }

    .x-icon {
        display: flex;
    }

    .header-copyright {
        width: 640px;
        position: fixed;
        left: 0px;
        top: 267px;
        padding-left: 10px;
        z-index: 1;
        color: #333B41;
        transform: translateX(100%);
        transition: 1s;
    }

    .header__nav-list {
        padding-top: 82px;
        position: fixed;
        padding-left: 10px;
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: unset;
        align-items: flex-start;
        width: 640px;
        height: 329px;
        background-color: white;
        transform: translateX(100%);
        transition: 1s;
        box-sizing: border-box;
    }

    .header__nav .nav__link {
        color: #333B41;
    }

    .header-copyright--active {
        transform: translateX(0%);
        transition: 1s;
    }

    .header__nav-list--active {
        transform: translateX(0%);
        transition: 1s;
    }

    .header__title--active {
        position: fixed;
        width: 65.6px;
        height: 41.6px;
        left: 10px;
        text-align: center;
        top: 1px;
        font-size: 15.2116px;
        line-height: 18px;
        margin-top: 10px;
        color: #FE9013;
        border: 0.8px solid #FE9013;
        z-index: 2;
        transition: 1s;
    }

    .header__title::before {
        background-image: url(../assets/images/bamboo-1000.svg);
        width: 8.03px;
        height: 13.98px;
        left: 3.13px;
        bottom: 1.79px;
    }

    .header__title--active::before {
        content: "";
        width: 14.03px;
        height: 20.98px;
        position: absolute;
        left: 7.13px;
        bottom: 2.79px;
        background-repeat: no-repeat;
        background-image: url(../assets/images/bamboo-orange.svg);
    }

    .x-icon--active {
        transform: translateX(0%);
        z-index: 2;
        transition: 1s;
    }
}

@media screen and (max-width:320px) {
    .burger {
        right: 10px;
        top: 12px;
    }

    .header__nav-list {
        width: 320px;
        height: 329px;
    }

    .nav__list {
        gap: 15px;
    }
}