.header {
    background-color: black;
}

.header-container {
    display: flex;
    min-height: 80px;
    align-items: center;
}

.header__title {
    margin: 0;
}

.logo__link {
    margin-right: 63px;
    text-decoration: none;
}

.logo {
    position: relative;
    box-sizing: border-box;
    padding-top: 3px;
    width: 82px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
}

.logo:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.logo::before {
    content: "";
    width: 12.03px;
    height: 20.98px;
    position: absolute;
    left: 9.13px;
    bottom: 6.79px;
    background-image: url(../assets/images/bamboo.svg);
}

.nav {
    margin-right: auto;
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    min-height: 80px;
    align-items: center;
}

.nav__item:last-child {
    margin: 0px;
}

.nav__item {
    margin-right: 58px;
}

.nav__link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.nav__link--about {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav__link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav__link:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-copyright {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-copyright:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}