.pets {
    position: relative;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}

.pets__container {
    display: flex;
    max-width: 1314px;
    margin: 0 auto;
}

.pets::before {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 292px;
    height: 460px;
    background-image: url(../assets/images/pets-flower1.png);
}

.pets:after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    width: 368px;
    height: 275px;
    background-image: url(../assets/images/pets-flower2.png);
}

.arrows__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -4px;
    margin-left: -6px;
    margin-top: 404px;
    width: 120px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 125px;
}

.arrows__container:hover {
    background: #4B9200;
    cursor: pointer;
}

.arrows__container:active {
    background: #4B9200;
    cursor: pointer;
}

.pets__list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    margin: 0;
    margin-bottom: 81px;
    padding: 0;
    list-style: none;
}

.pets__item {
    position: relative;
    width: 366px;
    height: 426px;
    box-sizing: border-box;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
}

.pets__item:hover .pets__img {
    width: calc(100% + 10px);
    transition: 1s;
}

.pets__item:hover .pets__name {
    transform: translate(0px, -70px);
    color: #FFFFFF;
    transition: 1s;
}

.pets__item:hover .pets__text {
    transform: translate(0px, -70px);
    color: #FFFFFF;
    transition: 1s;
}

.pets__item--herbivore::before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 17px;
    width: 21.61px;
    height: 33.16px;
    background-image: url(../assets/images/bamboo-green.svg);
}

.pets__item--herbivore::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 11px;
    width: 33px;
    height: 29.15px;
    background-image: url(../assets/images/banana.svg);
}

.pets__item--carnivore::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 21px;
    width: 29.72px;
    height: 26.52px;
    background-image: url(../assets/images/meat.svg);
}

.pets__item--carnivore::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 8px;
    width: 35.16px;
    height: 21.95px;
    background-image: url(../assets/images/fish.svg);
}

.pets__img {
    margin-bottom: 4px;
    border-radius: 4px;
    object-fit: cover;
    transition: 1s;
}

.pets__img:hover {
    filter: brightness(60%);
}

.pets__name {
    margin: 0;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    transition: 1s;
}

.pets__text {
    margin: 0;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    transition: 1s;
}

.pets__button {
    display: block;
    margin: 0 auto;
    padding-left: 9px;
    border-radius: 25px;
}