@keyframes toLeft {
    from {
        left: 0%;
    }

    to {
        left: 100vw;
    }
}

@keyframes toRight {
    from {
        left: 0%;
    }

    to {
        left: -100vw;
    }
}

.animLeft {
    animation: toLeft 2s;
}

.animRight {
    animation: toRight 2s;
}

.transformRight {
    transform: translateX(100vw)
}

.transformLeft {
    transform: translateX(-100vw)
}

.pets {
    position: relative;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}

.pets__container {
    display: grid;
    max-width: 1314px;
    margin: 0 auto;
}

.pets::before {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 292px;
    height: 460px;
    background-image: url(../assets/images/pets-flower1.png);
}

.pets:after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    width: 368px;
    height: 275px;
    background-image: url(../assets/images/pets-flower2.png);
}

.arrows__container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 125px;
    z-index: 1;
}

.arrows__container:hover {
    background: #4B9200;
    cursor: pointer;
}

.arrows__container:active {
    background: #4B9200;
    cursor: pointer;
}

.arrows__container-left {
    position: absolute;
    top: 400px;
    left: 139px;
}

.arrows__container-right {
    position: absolute;
    top: 400px;
    right: 139px;
}

.pets__list {
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    column-gap: 30px;
    row-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pets__item {
    position: relative;
    justify-self: center;
    max-width: 366px;
    max-height: 426px;
    box-sizing: border-box;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
}

.pets__item:nth-last-child(1) {
    display: none;
}

.pets__item:nth-last-child(2) {
    display: none;
}

.pets__item:hover .pets__img {
    width: calc(100% + 10px);
    transition: 1s;
}

.pets__item:hover .pets__name {
    transform: translate(0px, -70px);
    color: #FFFFFF;
    transition: 1s;
}

.pets__item:hover .pets__text {
    transform: translate(0px, -70px);
    color: #FFFFFF;
    transition: 1s;
}

.pets__item--herbivore::before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 17px;
    width: 21.61px;
    height: 33.16px;
    background-image: url(../assets/images/bamboo-green.svg);
}

.pets__item--herbivore::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 11px;
    width: 33px;
    height: 29.15px;
    background-image: url(../assets/images/banana.svg);
}

.pets__item--carnivore::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 21px;
    width: 29.72px;
    height: 26.52px;
    background-image: url(../assets/images/meat.svg);
}

.pets__item--carnivore::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 8px;
    width: 35.16px;
    height: 21.95px;
    background-image: url(../assets/images/fish.svg);
}

.pets__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 4px;
    border-radius: 4px;
    object-fit: cover;
    transition: 1s;
}

.pets__img:hover {
    filter: brightness(60%);
}

.pets__name {
    margin: 0;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    transition: 1s;
}

.pets__text {
    margin: 0;
    padding-left: 16px;
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    transition: 1s;
}

.pets__button {
    display: block;
    margin: 0 auto;
    margin-top: 81px;
    padding-left: 9px;
    border-radius: 25px;
}

@media screen and (max-width: 1590px) {
    .pets::before {
        width: 194px;
        height: 202px;
        background-image: url(../assets/images/pets-flower1-1000.png);
    }

    .pets::after {
        width: 241px;
        height: 180px;
        background-image: url(../assets/images/pets-flower2-1000.png);
    }
}

@media screen and (max-width: 1570px) {

    .pets__list {
        row-gap: 91px;
    }

    .arrows__container-left {
        position: relative;
        top: 0;
        left: 322px;
    }

    .arrows__container-right {
        top: 0;
        right: 321px;
        position: relative;
        margin-left: auto;
    }
}


@media screen and (max-width: 1000px) {
    .pets {
        padding-bottom: 142px;
    }
}

@media screen and (max-width: 900px) {
    .pets {
        padding-bottom: 100px;
    }

    .pets::before {
        width: 134px;
        height: 202px;
        background-image: url(../assets/images/pets-flower1-640.png);
    }

    .pets::after {
        width: 175px;
        height: 131px;
        background-image: url(../assets/images/pets-flower2-640.png);
    }


    .pets__button {
        margin-top: 61px;
    }

    .arrows__container-left {
        top: -4px;
        left: 223px;
    }

    .arrows__container-right {
        top: -4px;
        right: 223px;
    }

    .pets__name {
        padding-left: 10px;
        font-size: 13px;
        line-height: 15px;
    }

    .pets__text {
        font-size: 9px;
        line-height: 13px;
        padding-left: 10px;
    }

    .pets__img {
        margin-bottom: 5px;
    }

    .pets__item--herbivore::after {
        bottom: 12px;
        right: 7px;
    }

    .pets__item--herbivore::before {
        bottom: 11px;
        right: 13px;
    }

    .pets__item--carnivore::after {
        bottom: 11px;
        right: 3px;
    }

    .pets__item--carnivore::before {
        bottom: 13px;
        right: 13px;
    }
}

@media screen and (max-width: 640px) {
    .pets__text {
        font-size: 12px;
    }

    .pets__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pets__item {
        max-width: 285px;
        max-height: 332px;
    }

    .pets__item:nth-child(5) {
        display: none;
    }

    .pets__item:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 622px) {
    .arrows__container-left {
        top: -4px;
        left: 60px;
    }

    .arrows__container-right {
        top: -4px;
        right: 60px;
    }

    .pets__name {
        font-size: 9px;
    }

    .pets__text {
        font-size: 8px;
    }
}

@media screen and (max-width: 490px) {
    .pets::before {
        width: 80px;
        height: 72px;
        background-repeat: no-repeat;
        background-image: url(../assets/images/pets-flower1-320.png);
    }

    .pets::after {
        bottom: -3px;
        width: 69px;
        height: 71px;
        background-repeat: no-repeat;
        background-image: url(../assets/images/pets-flower2-320.png);
    }
}

@media screen and (max-width: 384px) {
    .pets__text {
        height: 15px;
        width: 76px;
    }
}

@media screen and (max-width: 320px) {
    .pets__text {
        height: unset;
        width: unset;
    }

    .pets__name {
        font-size: 13px;
    }

    .pets__text {
        font-size: 12px;
    }

    .pets__item {
        width: 285px;
        height: 332px;
    }

    .pets__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .pets__list {
        row-gap: 20px;
    }

    .arrows__container {
        display: none;
    }

    .pets {
        padding-bottom: 61px;
    }

    .pets .button {
        margin-top: 20px;
    }
}