.testimonials {
    position: relative;
    padding-bottom: 180px;
    background-color: #FFFFFF;
}

.testimonials::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 247px;
    height: 275px;
    background-image: url(../assets/images/testimonials-flower.png);
    background-repeat: no-repeat;
}

.testimonials__title {
    margin: 0;
    margin-bottom: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #333B41;
}

.testimonials__list {
    display: flex;
    //    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
    overflow: hidden;
}

.testimonials__item {
    max-height: 391px;
    position: relative;
    width: 267px;
    background: #F1F3F2;
    border-radius: 20px;
    z-index: 1;
}

.testimonials__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 1px;
    z-index: -1;
    border-radius: 20px;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    inset: 0;
}

.testimonials__item-container {
    display: grid;
    grid-template-columns: min-content 106px auto;
    width: 237px;
    margin-left: 16px;
    margin-right: 15px;
    padding-top: 15px;
    margin-bottom: 19px;
}

.testimonials__item-avatar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 9px;
}

.testimonials__item-name {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.testimonials__item-location {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
}

.testimonials__item-day {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
}

.testimonials__item-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    height: 309px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
}

.testimonials__input-range {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 31px;
    -webkit-appearance: none;
    width: 600px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
    cursor: pointer;
}

.testimonials__input-range:before {
    content: "";
    position: absolute;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 1px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    inset: 0;
}

.testimonials__input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 5px;
    width: 115px;
    height: 6px;
    background: #FE9013;
}

.testimonials__input-range::-webkit-slider-thumb:hover {
    background: #000000;
    cursor: pointer;
}

.testimonials__button {
    border-radius: 5px;
}

@media screen and (max-width:1223px) {
    .testimonials__item-container {
        margin: 0;
        margin-bottom: 19px;
        padding-left: 16px;
        padding-top: 14px;
        margin-right: 22px;
        width: 255px;
    }

    .testimonials__list {
        margin: 0 auto;
        margin-bottom: 18px;
        max-width: 939px;
    }

    .testimonials__item {
        width: 293px
    }
}

@media screen and (max-width:1000px) {
    .testimonials {
        padding-bottom: 141px;
    }

    .testimonials__title {
        margin-bottom: 29px;
    }

    .testimonials__input-range {
        margin-bottom: 52px;
    }

    .testimonials::after {
        width: 196px;
        height: 240px;
        background-image: url(../assets/images/testimonials-flower-1000.png);
        background-repeat: no-repeat;
    }

    .testimonials__input-range {
        width: 390px;
    }

    .testimonials__input-range::-webkit-slider-thumb {
        width: 75px;
    }
}

@media screen and (max-width:999px) {

    .testimonials__input-range {
        display: none;
    }

    .testimonials__item-container {
        margin: 0 auto;
        width: auto;
        max-width: 600px;
        padding-left: 12px;
        padding-top: 14px;
    }

    .testimonials__item {
        width: 600px;
        height: 109px;
        transform: none;
    }

    .testimonials__item-text {
        height: 38px;
        overflow: hidden;
    }

    .testimonials__list {
        gap: 16px;
        margin-bottom: 39px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonials__item-text {
        padding-left: 6px;
    }

    .testimonials__item-day {
        margin-bottom: 11px;
    }

    .testimonials__item:nth-child(4) {
        display: none;
    }

    .testimonials__item:nth-child(5) {
        display: none;
    }

    .testimonials__item:nth-child(6) {
        display: none;
    }

    .testimonials__item:nth-child(7) {
        display: none;
    }

    .testimonials__item:nth-child(8) {
        display: none;
    }

    .testimonials__item:nth-child(9) {
        display: none;
    }

    .testimonials__item:nth-child(10) {
        display: none;
    }

    .testimonials__item:nth-child(11) {
        display: none;
    }
}

@media screen and (max-width:640px) {
    .testimonials {
        padding-bottom: 80px;
    }

    .testimonials::after {
        width: 116px;
        height: 135px;
        background-image: url(../assets/images/testimonials-flower-640.png);
    }

    .testimonials .button {
        width: 240px;
        display: block;
        margin: 0 auto;
    }

    .testimonials__input-range {
        display: none;
    }
}

@media screen and (max-width:380px) {
    .testimonials::after {
        width: 51px;
        height: 65px;
        background-image: url(../assets/images/testimonials-flower-320.png);
    }
}

@media screen and (max-width:320px) {
    .testimonials__title {
        margin-bottom: 19px;
        font-size: 24px;
        line-height: 29px
    }

    .testimonials__list {
        margin-bottom: 29px;
    }

    .testimonials {
        padding-bottom: 59px;
    }

    .testimonials__item-container {
        padding-left: 12px;
        padding-top: 11px;
    }

    .testimonials__item-text {
        padding-left: 6px;
    }

    .testimonials__item-day {
        margin-bottom: 9px;
    }
}

.testimonials__item--active {
    width: 320px;
    height: 428px;
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials__item-text--active {
    height: auto;
    max-width: 297px;
    overflow: auto;
}

.testimonials__item-x-icon {
    display: flex;
    opacity: 0;
    right: 56px;
}