.watch-online {
    margin-bottom: 140px;
    height: 700px;
    background-image: url(../assets/images/panda.jpg);
    background-position: 0px -78px;
}

.watch-online__title {
    position: relative;
    width: 500.31px;
    height: 400px;
    padding-top: 86px;
    margin: 0;
    margin-right: 219.69px;
    margin-left: auto;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.watch-online__title::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -72px;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 250px;
    z-index: -1;
}

.watch-online__title--yellow {
    color: #FFEE2E
}

.watch-online__button {
    display: block;
    margin-left: auto;
    margin-right: 317px;
    border-radius: 25px;
}