.watch-online {
    margin-bottom: 140px;
    padding-bottom: 100px;
    background-image: url(../assets/images/panda.jpg);
    background-position: center -78px;
    background-repeat: no-repeat;
}

.watch-online__title {
    position: relative;
    width: 500.31px;
    height: 400px;
    padding-top: 86px;
    margin: 0;
    margin-right: 219.69px;
    margin-left: auto;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.watch-online__title::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -72px;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 250px;
    z-index: -1;
}

.watch-online__title--yellow {
    color: #FFEE2E
}

.watch-online__button {
    display: block;
    margin-left: auto;
    margin-right: 317px;
    border-radius: 25px;
}

@media screen and (max-width:1000px) {
    .watch-online {
        background-image: url(../assets/images/panda-1000.jpg);
        padding-bottom: 48px;
        margin-bottom: 100px;
    }

    .watch-online__title::before {
        width: 367px;
        height: 367px;
        top: -11px;
        left: -58px;
    }

    .watch-online__title {
        font-size: 85px;
        line-height: 64px;
        width: 400.25px;
        height: 320px;
        margin-right: 86.69px;
        padding-top: 43px;
        margin-bottom: 39px;
    }

    .watch-online__button {
        margin-right: 136px;
    }
}